*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.page1{
    height: 100vh;
    width: 100%;
    
}
.navbar img{
    height: 45px;
    width:110px;
    
} 
.lists{
    display: flex;
    
}
.lists li{
    list-style: none;
    justify-content: space-evenly;
    margin: 25px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    
}
.navbar {
  position: absolute;        
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 10;              
  background: transparent;   
  color: #333;
  margin-top: 30px;
}
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  
}
.leftsec {
  
  background-color: #ff2d55; 
  
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  width: 50%;
 
}

.rightsec {
  
  background-color: #fff;
  
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 30px;
  width: 50%;
}

.rightsec img{
    height: 590px;
    width: 640px;
}
.leftsec img{
    margin-top: 25%;
    margin-left: 13%;
    height: 100px;
}
.leftsec h3{
    color:#555555;
    margin-top: -16%;
    font-family: sans-serif;
    margin-left: 20%;
    font-size:150%;
    width: 150px;
    
}
.leftsec h4{
    color:#555555;
    
    font-family:sans-serif;
    margin-left: 20%;
    font-size:150%;
    
    
}
.leftsec p{
    color: rgb(220, 222, 223);
    font-size: 45%;
    line-height: 1.3;
    width: 650px;
    margin-left: 70px;
    margin-top: 10px;
}
.leftsec ion-icon{
    color: #414141;
    margin-top: 30px;
    margin-left: 40px;
}
.leftsec h5{
    color:#555555;
    margin-top: -10%;
    font-family:sans-serif;
    margin-left: 20%;
    font-size:120%;
    font-size: 40px;
    
    
}
.box4{
    height: 50%;
    width: 50%;
    background-color: rgb(250, 248, 248);
    margin-top: -48%;
    position: relative;
}
.box4 img{
    height:20%;
    width: 40%;
    margin-top: 15%;
    margin-left: 80px;

}
.box4 h6{
    font-family: "Momo Signature", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    margin-top: -80px;
    margin-left: 90px;
}
.box4 ion-icon{
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}
.box4 h5{
    margin-left: 80px;
    margin-top: 40px;
    color: #414141;
    font-size: 35px;
}

.page2{
    height: 100vh;
    width: 100%;

}
.top1{
    height: 40%;
    width:100%;
    
}
.bottom1{
    display: flex;
}
.left1{
    height: 60vh;
    width: 40%;
    
    display: flex;
}
.right1{
    height: 60vh;
    width: 60%;
    
    
}
.top1{
    display: flex;
}
.top1 img{
   
   height: 20%;
   width:12%;
   margin: 40px;
   margin-left: 8%;
   margin-top: 6%;
}
.left1 img{
    height: 15%;
    width:42%;
    margin-top: 27%;
    margin-left: -60%;
    
}
.left1 h1{
    color: #141313;
    font-size: 260%;
    line-height: 1.4;
    margin-left: 23%;
    margin-top: 1px;
    position: relative;
}
.box2{
   
    height: 250px;
    width: 250px;
    background-color: #14358e;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
}
.box2 h2{
    color: white;
    margin-left: 40%;
    margin-top: 36%;
    position:absolute;
    font-size: 60px;
    font-weight: 600;

}
.text1{
    width: 400px;
    margin-left: 40%;
    margin-top: -29%;
    color: black;
    font-size: 20px;
    line-height: 1.5;
    
}
.text1 h4{
    margin-bottom:20px;
}
.text1 p{
color: #555555;
}

.page3{
    height: 40vh;
    width: 100%;
   
}
.textcont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15%;
    
    
        
}
.cont1{
    width: 250px;
    
    
    
}
.cont2{
    width: 250px;
}
     
.cont3{
    width: 250px;
    
}

.cont1 ion-icon{
    float: right;
    margin-top: 10px;
    font-size: 20px;
    color: #141313;
}
.cont2 ion-icon{
    float: right;
    margin-top: 10px;
    font-size: 20px;
    color: #141313;
    
}
.cont3 ion-icon{
    float: right;
    margin-top: 10px;
    font-size: 20px;
    color: #141313;
    
}

.cont1 p{
   color: #525151;
    font-size: 22px;
    margin-top:30px;
}
.cont2 p{
    color: #525151;
    font-size: 22px;
    margin-top:30px;
}
.cont3 p{
    color: #525151;
    font-size: 22px;
    margin-top:30px;
}
.page4{
    height: 40vh;
    width: 100%;
    background-color: #1c1b1b;
    
}

.page4 p{
    justify-content: center;
    color: white;
    font-size: 27px;
    margin-left: 25%;
    margin-top: 20px;
    width: 500px;
    line-height: 1.1;
    
}
.page5{
    height: 100vh;
    width: 100%;
    background-color: #1c1b1b;
}
.hr1{
   
    display: flex;
}
.hr1 h4{
    color: rgb(159, 158, 158);
    margin-right: 50%;
    margin-top: 10%;
    font-size: 20px;
}

.one{
    display: flex;
    
}
.one h2{
    color: rgb(225, 222, 222);
    font-size: 28px;
    margin-top: 60px;
    margin-left: 100px;
}
.one ion-icon{
    font-size: 30px;
    color: red;
    margin-left: 120px;
    margin-top: 50px;
    font-size: 50px;
    
}
.one h3{
    color: rgb(254, 252, 252);
    font-size: 30px;
    margin-top: 60px;
    margin-left: 30px;
}
.one p{
    width:400px;
    margin-left: 10%;
    margin-top: 2%;
    line-height: 1.1;
    font-size: 20px;
    color:#bfbbbb
}


.two{
    display: flex;
    
}
.two h2{
    color: rgb(225, 222, 222);
    font-size: 28px;
    margin-top: 60px;
    margin-left: 100px;
}
.two ion-icon{
    font-size: 30px;
    color: red;
    margin-left: 120px;
    margin-top: 50px;
    font-size: 50px;
    
}
.two h3{
    color: rgb(254, 252, 252);
    font-size: 30px;
    margin-top: 60px;
    margin-left: 30px;
}
.two p{
    width:400px;
    margin-left: 10%;
    margin-top: 2%;
    line-height: 1.1;
    font-size: 20px;
    color:#bfbbbb
}



.three{
    display: flex;
    
}
.three h2{
    color: rgb(225, 222, 222);
    font-size: 28px;
    margin-top: 60px;
    margin-left: 100px;
}
.three ion-icon{
    font-size: 30px;
    color: red;
    margin-left: 120px;
    margin-top: 50px;
    font-size: 50px;
    
}
.three h3{
    color: rgb(254, 252, 252);
    font-size: 30px;
    margin-top: 60px;
    margin-left: 30px;
}
.three p{
    width:400px;
    margin-left: 10%;
    margin-top: 2%;
    line-height: 1.1;
    font-size: 20px;
    color:#bfbbbb
}

.four{
    display: flex;
   background-color: #1c1b1b;
   margin-top: -5px;
    
}
.four h2{
    color: rgb(225, 222, 222);
    font-size: 28px;
    margin-top: 60px;
    margin-left: 100px;
}
.four ion-icon{
    font-size: 30px;
    color: red;
    margin-left: 120px;
    margin-top: 50px;
    font-size: 50px;
    
}
.four h3{
    color: rgb(254, 252, 252);
    font-size: 30px;
    margin-top: 60px;
    margin-left: 30px;
}
.four p{
    width:400px;
    margin-left: 10%;
    margin-top: 2%;
    line-height: 1.1;
    font-size: 20px;
    color:#bfbbbb

}
.page6{
    height: 70vh;
    width: 100%;
    background-color: #1c1b1b; ;
}
.page6 h5{
    color: white;
    margin-top: 50px;
    font-size: 20px;
    margin-left: 25%;
}
.page6 span{
    color: red;
    margin-left: 10px;
}

.line{
    height: 9px;
    /* background-color: red; */
    color: red;
}

.page7{
    height: 100vh;
    width: 100%;
   
}
.page7 h3{
color:#615d5d;
font-size: 35px;
margin-left: 6%;
margin-top: 20px;
}
.page7 h6{
    margin-top: 10px;
    color:#615d5d;
    font-size: 18px;
    margin-left: 6%;

}
.piccont1{ 
    height:50%;
    width:100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap:8%;
    
    
}
.piccont2{
    height:50%;
    width:100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap:1%;
}

.sec1{
    /* Background image: path adjusted relative to this CSS file (../images/) */
    background-image: url('../images/01.jpg');
    background-size: cover;         /* cover viewport */
    background-position: center;    /* center the image */
    background-repeat: no-repeat;   /* don't tile */
    height: 280px;
    width: 280px;
    border-radius: 20px;
    margin-left: 7%;
}
.sec1 h6{
margin-left: 40%;
}
.sec2 h6{
margin-left: 40%;
}
.sec3 h6{
margin-left: 40%;
}
.sec1 h3{
margin-left: 80px;
color: rgb(245, 241, 241);
margin-top: 40px;
}
.sec2 h3{
margin-left: 80px;
color: rgb(245, 241, 241);
margin-top: 40px;
}
.sec3 h3{
margin-left: 80px;
color: rgb(245, 241, 241);
margin-top: 40px;
}

.sec2{
    background-image: url('../images/02.jpeg');
    background-size: cover;         /* cover viewport */
    background-position: center;    /* center the image */
    background-repeat: no-repeat;   /* don't tile */
    height: 280px;
    width: 280px;
    border-radius: 20px;
}

.sec3{
    background-image: url('../images/03.jpg');
    background-size: cover;         /* cover viewport */
    background-position: center;    /* center the image */
    background-repeat: no-repeat;   /* don't tile */
    height: 280px;
    width: 280px;
    border-radius: 20px;
     
}

.secc1{
    /* Background image: path adjusted relative to this CSS file (../images/) */
    background-image: url('../images/04.jpg');
    background-size: cover;         /* cover viewport */
    background-position: center;    /* center the image */
    background-repeat: no-repeat;   /* don't tile */
    height: 280px;
    width: 280px;
    border-radius: 20px;
    margin-left: 7%;
}

.secc2{
    /* Background image: path adjusted relative to this CSS file (../images/) */
    background-image: url('../images/05.jpeg');
    background-size: cover;         /* cover viewport */
    background-position: center;    /* center the image */
    background-repeat: no-repeat;   /* don't tile */
    height: 280px;
    width: 280px;
    border-radius: 20px;
    margin-left: 7%;
}

.secc3{
    /* Background image: path adjusted relative to this CSS file (../images/) */
    background-image: url('../images/06.png');
    background-size: cover;         /* cover viewport */
    background-position: center;    /* center the image */
    background-repeat: no-repeat;   /* don't tile */
    height: 280px;
    width: 280px;
    border-radius: 20px;
    margin-left: 7%;
}
.secc1 h6{
margin-left: 40%;
}
.secc2 h6{
margin-left: 40%;
}
.secc3 h6{
margin-left: 40%;
}
.secc1 h3{
margin-left: 80px;
color: rgb(245, 241, 241);
margin-top: 40px;
}
.secc2 h3{
margin-left: 60px;
color: rgb(245, 241, 241);
margin-top: 40px;
}
.secc3 h3{
margin-left: 80px;
color: rgb(245, 241, 241);
margin-top: 40px;
}

.page8{
    height: 100vh;
    width:100%;
}
.state{
margin-top: 20%;
font-size: 40px;
width: 700px;
margin-left: 10%;
color: #525151;
}
.state2{
    width: 300px;
    color: #737171;
    margin-top: 25px;
    font-size: 15px;
    margin-left: 130px;
    line-height: 1.5;
}
.vertical-line {
  width: 1px;              /* thickness of the line */
  height: 90%;            /* height of the line */
  background-color: rgb(209, 207, 207);  /* color of the line */
  margin: 10px;
  margin-left: 35%;
  margin-top: -140px;
}
.state3{
    width: 200px;
    color: #2e2e2e;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 43%;
    margin-top: -40%;
}
.vertical-line1{
    width: 1px;              /* thickness of the line */
    height: 90%;            /* height of the line */
    background-color: rgb(209, 207, 207);  /* color of the line */
    margin: 10px;
    margin-left: 65%;
    margin-top: -450px;
}
.state4{
    width: 200px;
    color: #2e2e2e;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 70%;
    margin-top: -40%;
}
.vertical-line2{
    width: 1px;              /* thickness of the line */
    height: 90%;            /* height of the line */
    background-color: rgb(209, 207, 207);  /* color of the line */
    margin: 10px;
    margin-left: 90%;
     margin-top: -450px;
    
}
.page9{
    height: 100vh;
    width: 100%;
}
.state5{
    width: 200px;
    color: #2e2e2e;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    margin-left: 43%;
   
   
}
.vertical-line3{
    width: 1px;              /* thickness of the line */
    height: 90%;            /* height of the line */
    background-color: rgb(209, 207, 207);  /* color of the line */
    margin: 10px;
    margin-left: 35%;
    margin-top: -450px;
}
.vertical-line3{
    width: 1px;              /* thickness of the line */
    height: 90%;            /* height of the line */
    background-color: rgb(209, 207, 207);  /* color of the line */
    margin: 10px;
    margin-left: 35%;
    margin-top: -450px;
}
.vertical-line4{
    width: 1px;              /* thickness of the line */
    height: 75%;            /* height of the line */
    background-color: rgb(209, 207, 207);  /* color of the line */
    margin: 10px;
    margin-left: 65%;
    margin-top: -470px;
}
.state6{
    width: 200px;
    color: #2e2e2e;
    font-size: 18px;
    line-height: 1.5;
    margin-top: -35%;
    margin-left: 71%; 
}
.vertical-line5{
    width: 1px;              /* thickness of the line */
    height: 90%;            /* height of the line */
    background-color: rgb(209, 207, 207);  /* color of the line */
    margin: 10px;
    margin-left: 90%;
    margin-top: -500px;
}